<footer class="footer">
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class=" col-md-6 col-xs-12">
        <a href="https://www.CropStarter.com/"><img class="footer-logo" src="assets/images/v3.png"></a>
        <br>
        <p class="text-color-3 footer-text">Investing or Lending through CropStarter involves risk of principal loss. Cropstarter does not guarantee repayment or return on investment.</p>
        <br>
        <p class="text-xs lh-sm">By using this site, you agree to the <a href="https://www.CropStarter.com/about/terms"><span class="text-color-lg margin-sm">Terms &amp; Conditions</span>.</a><br>© 2017 Crop Starter. All Rights Reserved.</p>
        <br>
      </div>

    </div>
  </div>
</footer>
