<div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="assets/images/bg-field.jpg">
  <div class="container">
    <div class="row">
      <div class=" col-md-9">
        <h1>In CropStarter, doing good comes with great rewards.</h1>
        <p>Grow your money by helping our farmers. Your decision to join our <br class="mobile-off"/>community brings
          our smallholder farmers a step closer to the hope of<br class="mobile-off"/> a better life.</p>
      </div>
    </div>
    <div class="row center">
      <img class="icon margin-t-xl" src="assets/images/down.png" height="50px">
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row ">
      <div class="text-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2 class="text-color-2">We are the first and the only crowdfunding platform enabling you to help finance our
            farmers</h2>
          <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>



<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2 class="text-color-4">What's In It For You</h2>
          <br>
          <div class="row center">
            <div class="col-md-4">
              <img class="icon" src="assets/images/connect.png" height="100px">
              <h3 class="text-color-5">Connect with our Farmers</h3>
              <p class="text-color-2 text-md padding-rl">We provide you an opportunity to directly impact the lives of
                our farmers</p>
            </div>
            <div class="col-md-4">
              <img class="icon" src="assets/images/rewards.png" height="100px">
              <h3 class="text-color-5">Grow your money</h3>
              <p class="text-color-2 text-md padding-rl">We provide you with an alternative medium for investment and
                additional source of income for living</p>
            </div>
            <div class="col-md-4">
              <img class="icon" src="assets/images/plant.png" height="100px">
              <h3 class="text-color-5">Social Impact Invesment</h3>
              <p class="text-color-2 text-md padding-rl">We are a social impact investment wherein you help our farmers
                but at the same time earn for your future</p>
            </div>
          </div>
          <br>
          <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron mobile-padding-lr" id="start">
  <div class="container">
    <div class="row center">
      <h2 class="text-color-4">You can be a Pioneer of Hope for the farmers.</h2>
      <p class="text-color-2 margin-tb-lg">Harness the power of many and together, we can help empower our farmers.</p>

      <p><a class="btn btn-2 text-spacing btn-lg" href="user/register.html" role="button">GET STARTED TODAY</a></p>

    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <div class="row footer-links">
      <div class=" col-md-3 col-sm-3 col-xs-12">
        <strong><p class="text-color-3 margin-sm">About Us</p></strong>
        <a href="about/CropStarter.html"><p class="text-color-3 margin-sm">What is CropStarter</p></a>
        <a href="about/team.html"><p class="text-color-3 margin-sm">Who We Are</p></a>
        <a href="http://blog.CropStarter.com/"><p class="text-color-3 margin-sm">Blog</p></a>
        <br class="mobile-on">
      </div>
      <div class=" col-md-3 col-sm-3 col-xs-12">
        <strong><p class="text-color-3 margin-sm">Learn</p></strong>
        <a href="learn/how-it-works.html"><p class="text-color-3 margin-sm">How It Works</p></a>
        <a href="learn/risk-management-structure.html"><p class="text-color-3 margin-sm">How We Manage Risks</p></a>
        <a href="help.html"><p class="text-color-3 margin-sm">FAQs</p></a>
        <br class="mobile-on">
      </div>
      <div class=" col-md-3 col-sm-3 col-xs-12">
        <strong><p class="text-color-3 margin-sm">Get Involved</p></strong>
        <a href="contribute.html"><p class="text-color-3 margin-sm">How You Can Contribute</p></a>
        <a href="partners.html"><p class="text-color-3 margin-sm">Partner Pages</p></a>
        <br class="mobile-on">
      </div>
      <div class=" col-md-3 col-sm-3 col-xs-12">
        <strong><p class="text-color-3 margin-sm">Help</p></strong>
        <a href="help.html"><p class="text-color-3 margin-sm">Help Center</p></a>
        <a href="contact.html"><p class="text-color-3 margin-sm">Contact Us</p></a>
        <p class="text-color-3 margin-sm text-xs">Need help? Email us at <a href="mailto:support@CropStarter.com"
                                                                            class="text-color-3">support@CropStarter.com</a>
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class=" col-md-6 col-xs-12">
        <a href="index.html"><img class="footer-logo" src="assets/images/v3.png"></a>
        <br>
        <p class="text-color-3 footer-text">Investing or Lending through CropStarter involves risk of principal loss.
          CropStarter does not guarantee repayment or return on investment.</p>
        <br>
        <p class="text-xs lh-sm">By using this site, you agree to the <a href="about/terms.html"><span
          class="text-color-lg margin-sm">Terms &amp; Conditions</span>.</a><br>&copy; 2017 CropStarter Enterprises
          Corporation. All Rights Reserved.</p>
        <br>
      </div>
      <div class=" col-md-6 col-xs-12 mobile-pull-right">
        <p class="text-color-3 footer-text margin-b-xs">Connect with Us!</p>
        <a href="https://fb.com/CropStarter">
          <img class="icon" src="assets/images/social-media/fb-wh.png" height="25px"></a>
        <a class="footer-icons" href="https://instagram.com/CropStarter">
          <img class="icon" src="assets/images/social-media/ig-wh.png" height="25px"></a>
        <a class="footer-icons" href="https://www.linkedin.com/company/CropStarter">
          <img class="icon" src="assets/images/social-media/li-wh.png" height="25px"></a>
        <br><br>
        <div class="fb-like" data-href="https://www.facebook.com/CropStarter" data-layout="standard" data-action="like"
             data-show-faces="true" data-share="true" data-colorscheme="dark" data-width="200px"></div>
      </div>
    </div>
  </div>
</footer>

<div id="message" class="hide">
  <div id="inner-message" class="alert alert-warning">
    <button type="button" id="#beta-close" class="close text-color-3" aria-label="Close" target="inner-message"><span
      aria-hidden="true">&times;</span></button>
    <p class="center lh-xs mobile-text-sm text-md">CropStarter is still on its beta phase and we'd love to hear your <a
      href="contact.html"><strong>feedback</strong></a>. Help us improve your CropStarter experience!</p>
  </div>
</div>

<a href="#" id="back-to-top" title="Back to top"></a>

