<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row no-m">
    <div class="col-md-6 center trm text-spacing" id="short-trm">
      <div class="shadow">
        <h2>Invest</h2>
        <p>Invest in farms that will be ready for harvest in 3-18 months.</p>
        <a class="btn btn-2 text-spacing btn-wrap" type="button" routerLink="/market">BROWSE FARMS</a>

      </div>
    </div>
    <div class="col-md-6 center trm text-spacing" id="long-trm">
      <div class="shadow">
        <h2>Buy</h2>
        <p>Buy Commodities Directly Procured from Farms.</p>
        <a class="btn btn-2 text-spacing btn-wrap" type="button" routerLink="/shop">SHOP PRODUCE</a>
        </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
