<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--{{ item | json }}-->

<div class="container pages-md"></div>
<br>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4 mcard">
      <div class="top-cat center">
        <p><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> {{item.crop}}

        </p></div>
      <div class="thumbnail-frame">
        <a href="#"><img class="full-image"
                         src="assets/images/farmers/8e066d4f-9bf0-494f-8962-ae2a0da658fb-47602771_s.jpg"
                         alt="{{item.name}}&#39;s Farm"></a>
        <a href="#"><h3 class="text-color-4">{{item.name}}
        </h3></a>


        <div class="highlight-line-green">

          <div class="row center high-row">
            <div class="col-md-12 col-xs-12">
              <p class="raised-text">₹ {{item.price}} per Quintal <br> <span class="progress-text">( {{item.quantity}} Quintals )<span></span></span>
              </p>
            </div>
          </div>
        </div>
        <br>

      </div>
    </div>

    <div class="col-lg-8 mcard">

      <div class="thumbnail-frame mcontent">


        <div class="row">
          <div class="col-md-12 incontent center">
            <img class="icon margin-t-lg" src="assets/images/dp-3.png" height="80px">
            <h3 class="text-color-4">Purchase this Crop Now!</h3>
            <p class="text-color-2">Sending our warm appreciation to our pioneer buyers who made this happen!</p>
            <br>
            <p><a class="btn btn-2 text-spacing btn-lg btn-wrap" href="https://www.cropital.com/market"
                  role="button">Purchase →</a></p>
            <br>
          </div>
        </div>
      </div>








      </div>

  </div>
</div>
<app-footer></app-footer>
